body { background-color: #23222c; transform: translate(20%, 5%);}

.update { color: #B3D7F0; font-size: 16px; font-family: courier; }

.txt { color: #b380f9; font-size: 20px; font-family: courier; margin-right: 35%; }

.s1 { color: #b3d7f0; font-family: courier;}

.url { color: #86c4d9; font-family: courier;}

img {  border: 2px solid powderblue;}
